html, body {
  height: 100%;
}
html {
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  background: #000000;
}
#videos {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}
.flip {
-webkit-transform: rotateY(180deg);
}
#chatbox {
  position: absolute;
  right: 1px;
  bottom: 1px;
  z-index: 1;
}
#chatinput {
  background: repeat scroll 0 0 #fff;
  font: 16px/18px 'Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 20px;
  margin-bottom: 0px;
  padding: 5px;
  width: 246px;
}
#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #cecece;
  font: 16px/18px 'Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 154px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px;
  width: 250px;
}
.buttonBox {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}
#hideShowMessages.chat {display:none;}
#newRoom.room {display:none;}
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:10px;
  font-weight:bold;
  padding:5px;
  text-decoration:none;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.button:active {
  position:relative;
  top:1px;
}